name: ci-build

on: [push]

jobs:
  build:
    strategy:
      matrix:
        docker_tag: 
        - archlinux
        - fedora-31
        - fedora-30
        - debian-stretch
        - debian-buster
        - ubuntu-18.04
        - ubuntu-19.10
        - opensuse-15.0
        - opensuse-15.1
        os: 
        - ubuntu-latest

    runs-on: ${{ matrix.os }}
    env:
      DOCKER_IMG: docker.pkg.github.com/jahnf/projecteur/projecteur
      DOCKER_TAG: ${{ matrix.docker_tag }}

    steps:
    - uses: actions/checkout@v1
    - name: Login to github docker registry
      run: docker login docker.pkg.github.com -u jahnf -p ${{ secrets.GITHUB_TOKEN }}
    - name: Pull ${{ matrix.docker_tag }} docker image
      run: docker pull ${DOCKER_IMG}:${{ matrix.docker_tag }}
    - name: docker create build container
      run: docker run --name build --env TRAVIS_BRANCH=${GITHUB_REF/refs\/heads\//} -d -v `pwd`:/source:ro -t ${DOCKER_IMG}:${{ matrix.docker_tag }}
    - name: cmake configuration
      run: docker exec build /bin/bash -c "mkdir -p /build/dist-pkg && cd /build && cmake /source"
    - name: cmake build
      run: docker exec build /bin/bash -c "cd /build && cmake --build ."
    - name: create linux package
      run: docker exec build /bin/bash -c "cd /build && cmake --build . --target dist-package"
    - name: Run projecteur executable, print version
      run: docker exec build /bin/bash -c "cd /build && ./projecteur --version"
    - name: Get created artifacts from docker container
      run: docker cp build:/build/dist-pkg .
    
    - name: Move source package
      if:  startsWith(matrix.docker_tag, 'archlinux')
      run: mkdir -p source-pkg && mv dist-pkg/*source.tar.gz ./source-pkg || true
    
    - name: Upload source-pkg
      if:  startsWith(matrix.docker_tag, 'archlinux')
      uses: actions/upload-artifact@v1
      with:
        name: source-package
        path: source-pkg
      
    - name: Upload artifacts
      uses: actions/upload-artifact@v1
      with:
        name: ${{ matrix.docker_tag }}-package
        path: dist-pkg

